%ul
  %li[tree_item]
    = link_to tree_item.name, tree_item.url
    -#= button_to "Lägg till i menyn", add_menu_item_to_text_node_menu_path(node,tree_item)
    = form_tag '',{:method => 'post',:class=>'js_form'} do
      = hidden_field_tag 'id', tree_item.id
      = submit_tag "Lägg till i menyn"

    = render :partial => 'tree_item', :collection => tree_item.children, :locals=>{:node=>node}
