<h2>Filer</h2>

Listar filer uppladdade under noden "<%=h @parent.url %>".<br />

<% if @files.empty? -%>
  <em>Inga filer uppladdade</em>
<% else -%>
  <% list_for(@files) do |list| -%>
    <% list.column :url do |file_node| -%>
    
      <% if File.exist? file_node.full_filename -%>
        <%= link_to file_node.url, file_node.url, :title => file_node.filename -%>
      <% else %>
        <strike><%= file_node.url -%></strike>
      <% end -%>
            
    <% end -%>
    <% list.column :size do |file_node| %>
      <% if file_node.size.nil? -%>
        Okänd storlek
      <% else -%>
        <%= file_node.size/1024 %> KiB
      <% end -%>
      
    <% end -%>
    <% list.column :content_type do |file_node| %>
      <%= file_node.content_type %>
    <% end -%>
    <% list.column :created_at do |file_node| %>
      <%= file_node.created_at %>
    <% end -%>
  <% end -%>
<% end -%>

<h3>Notera</h3>
Filerna är inte versionshanterade.<br />
För att lägga till en bild skriv <em>!/nod/nod/bild.png!</em><br />
Är det en fil, t.ex. en pdf, gör en vanlig länk <em>"Fin PDF":/nod/nod/fil.pdf</em>
