<h1>Listing list_entries</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Comment</th>
  </tr>

<% for list_entry in @list_entries %>
  <tr>
    <td><%=h list_entry.person_id %></td>
    <td><%=h list_entry.comment %></td>
    <td><%= link_to 'Show', list_entry %></td>
    <td><%= link_to 'Edit', edit_list_entry_path(list_entry) %></td>
    <td><%= link_to 'Destroy', list_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New list_entry', new_list_entry_path %>
