%ul
  %li 
    - if params[:tags]
      = link_to "Alla", root_path
    - else
      = link_to "Alla", root_path, :class => 'current'
    %span.dim= "(#{Post.count})"
  - Post.tag_counts_on(:categories).order("count desc").each do |tag|
    %li
      - if @active_tags and @active_tags.include? tag.to_s
        = link_to tag, root_path(:tags => tag.name), :class => 'current'
      - else
        = link_to tag, root_path(:tags => tag.name)
      %span.dim= "(#{tag.count})"
