%ul#tag_list
  %li 
    - if params[:tags]
      = link_to "Alla", root_path
    - else
      = link_to "Alla", root_path, :class => 'current'
    %span.dim= "(#{Post.count})"
  - i = 0 # tag number
  - @tags.each do |tag|; i+=1
    %li
      - if @active_tags and @active_tags.include? tag.to_s
        = link_to tag, root_path(:tags => tag.name), :class => 'current'
      - else
        = link_to tag, root_path(:tags => tag.name)
      %span.dim= "(#{tag.count})"
