%p
  = f.label "Användarnamn"
  <br />
  = text_field :nominee, :person_id
%p
  = f.label "Valtillfälle"
  <br />
  = collection_select(:nominee, :election_event_id, ElectionEvent.find(:all, :conditions => ["date >= ?", DateTime.now]), :id, :formated)
%p
  = f.label "Post"
  <br />
  = collection_select(:nominee, :chapter_post_id, ChapterPost.all, :id, :name)
%p
  = f.label "Svar"
  <br />
  = select_tag "nominee[status]", options_for_select({ "Ej svarat" => 0, "Tackat ja" => 1, "Tackat nej" => 2}, 0)
