= simple_form_for(@nominee) do |form|
  = form.input :username, :input_html => { :value => @nominee.username }

  .input.select.required
    = form.label :election_event_id, "Valtillfälle"
    = form.collection_select :election_event_id, ElectionEvent.find(:all, :conditions => ["date >= ?", DateTime.now]), :id, :formated

  .input.select.required
    = form.label :chapter_post_id, "Post"
    = form.collection_select :chapter_post_id, ChapterPost.all, :id, :name

  .input.select.required
    = form.label :status, "Status"
    = form.select :status, {"Ej svarat" => 0, "Tackat ja" => 1, "Tackat nej" => 2}

  = form.button :submit
