%h2
  Aktuella val

= include_node('/sektionen/val')
- if Person.current.editor?
  -# FIXME: Nedanstående länk är jättekonstig... man kan inte länka till en hårdkodad textnod sådär, det kommer inte funka på folks lokala versioner.
  - admin_link 'Redigera texten', '/textnoder/27/edit'

- @election_events.each do |event|
  %h4 #{event.name} #{event.date}
  %table.wide
    %tr
      %th Post
      %th Tidigare innehavare
      %th Nominerade
    - if event.nominees.size > 0
      - for chapter_post in event.chapter_posts.ordered
        %tr
          %td= link_to chapter_post, chapter_post
          %td
            - if chapter_post.functionary && chapter_post.functionary.person
              = link_to chapter_post.functionary.person, chapter_post.functionary.person
            - else
              Vakant
          %td
            %ul
              - event.nominees.for(chapter_post).ordered.each do |nominee|
                %li
                  = nominee_person_link nominee
                  = link_to "(Redigera)", edit_nominee_path(nominee) if Person.current.editor?
    - else
      %tr
        %td{:colspan=>4}
          %em Ingen är nominerad till det här valet.
