<h2>Nomineringar till <%=h @election_event.name %> (<%=h @election_event.date %>)</h2>

<h3>Nomineringar</h3>

<p>
  För att nominera någon eller själv kandidera till en post kan du skicka ett mail till valberedningen valberedning@d.kth.se. <br />
  Sista nomineringsdatum är 4 dagar innan sektionsmötet då valet sker.
</p>

<p>
  Blir du nominerad kommer du få ett mail till ditt kth.se-konto med en förfrågan om du accepterar nomineringen. <br />
  För att kunna kandidera till posten måste du <strong>svara på nomineringen senast 1 dag innan SM</strong>.
</p>

<p>
  Är du nominerad och har inte fått något mail? Skicka ett mail till valberedningen, så löser vi detta.
</p>

<p>
  Nomineringarna senaste uppdaterade: <strong><%= @last_change %></strong> <br />
  <strike>Genomstruket namn</strike> = tackat nej till nomineringen. <br />
  <strong>Fet stil på namnet</strong> = tackat ja till nomineringen <br />
  Vanlig stil på namnet = inte svarat ännu
</p>

<table class="styled-table">
  <tr>
    <th>Post</th>
    <th>Tidigare innehavare</th>
    <th>Nominerade</th>
  </tr>

<%
  # Det här är riktigt fult, men gör vad det ska.
%>
<% if @nominees.size > 0 %>
  <% for nominee in format_nominees(@nominees) %>
    <tr>
      <td><%= nominee[1][2] %></td>
      <td><%= nominee[1][1] %></td>
      <td><%= nominee[1][0].html_safe %></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="4">
      <em>Ingen är nominerad till det här valet.</em>
    </td>
  </tr>
<% end %>
</table>
