%p
  %b Person:
  = @nominee.person
%p
  %b Valtillfälle:
  = @nominee.election_event.formated
%p
  %b Post:
  = @nominee.chapter_post.name
%p
  %b Status:
  = @nominee.status_text

= link_to 'Edit', edit_nominee_path(@nominee)
|
= link_to 'Back', nominees_path
