<h2>Redigera <%= @person %> (<%= @person.kth_username %>)</h2>

<p>
  Här kan du regigera personlig info. Informationen kommer vara visningsbar för alla inloggade teknologer, och nick kommer vara sökbart på sök teknolog.
</p>
<% ior_form_for @person do |form| %>
  <li>
    <% if Person.current.admin? %>
    <label>Roller</label>
    <div class="fields">
        <% Role.all.each do |role| %>
          <div class="checkbox">
            <%= check_box_tag "person[role_ids][]", role.id, @person.roles.include?(role) %>
            <%= role.name.humanize %>
          </div>
        <% end %>
    </div>
    <% end %>
    <% if Person.current.admin? or Person.current.id == @person.id %>
      <%= form.text_field :startyear, :caption=>"Startår"   %>
      <%= form.text_field :address, :caption=>"Adress" %>
      <%= form.text_field :phone, :caption=>"Telefon" %>
      <%= form.text_field :nickname , :caption=>"Nick" %>
      <%= form.text_field :personalemail, :caption=>"Personlig email" %>
      <%= form.text_field :homepage , :caption=>"Personlig Hemsida" %>
      <%= form.text_field :msn , :caption=>"Msn" %>
      <%= form.text_field :xmpp , :caption=>"Gtalk / XMPP" %>
      <% if @person.has_feature?(:my_leek) %>
        <%= form.text_area :serialized_my_settings %>
      <% end -%>
    <% end %>
    
    <% if Person.current.admin? %>
      <%= form.text_area :serialized_features %>
    <% end -%>
  </li>

  <%= form.submit "Spara", :disable_with => "Sparar användare...", :cancel_link => link_to('avbryt', '.') %>
<% end %>
  
