<h2>Alla användare</h2>

<% list_for @people do |list| %>
  <%= list.column :kth_username, :filter => true %>
  <%= list.column :first_name %>
  <%= list.column :last_name %>
  <%= list.column :email %>

  <% Role.all.each do |role| %>
    <% list.column "#{role.to_s}?", :alias => role.to_s.humanize do |person| %>
      <%= 'x' if person.has_role?(role.to_s) %>
    <% end %>
  <% end %>
  
  <% list.actions do |person| %>
    <%= link_to 'Show', person %>
    <%= link_to 'Edit', edit_person_path(person) %>
    <%= link_to 'Destroy', person, :confirm => "Är du säker på att du vill ta bort #{person} (#{person.kth_username})?", :method => :delete %>
  <% end %>
<% end %>
