<span style="float:right; margin-top: 10px"><a href="http://www.gravatar.com"><img src=http://www.gravatar.com/avatar/<%=Digest::MD5.hexdigest(@person.kth_username + "@kth.se")%>/></a></span>
<h2>
  <%= @person.first_name %> <%= @person.last_name %>
  <% unless Person.current.anonymous? %>
    (<%= @person.kth_username %>) 
  <% end -%>
</h2>

<% if Person.current.anonymous? -%>
  <p>Begränsad vy då du inte är inloggad</p>
<% else -%>
  <p>
    <%= link_to "Sök teknolog", "/students/#{@person.kth_username}" %> | 
    <%= link_to "NADA hemsida", "http://www.nada.kth.se/~#{@person.kth_username}" %> |
    <%= link_to @person.email, "mailto:#{@person.email}" %>
  </p>


  <table>
    <tr>
      <td><b>Startår:</b></td>
      <td><%= @person.try(:startyear) %></td>
    </tr>

    <tr>
      <td><b>Adress:</b></td>
      <td><%= @person.try(:address) %></td>
    </tr>

    <tr>
      <td><b>Telefon:</b></td>
      <td><%= @person.try(:phone) %></td>
    </tr>

    <tr>
      <td><b>Nick:</b></td>
      <td><%= @person.try(:nickname) %></td>
    </tr>

    <tr>
      <td><b>Personlig email:</b></td>
      <td><a href="mailto:<%=@person.try(:personalemail) %>"><%=@person.try(:personalemail) %></a></td>
    </tr>

    <tr>
      <td><b>Personlig hemsida:</b></td>
      <td><a href="<%=@person.try(:homepage) %>"><%=@person.try(:homepage) %></a></td>
    </tr>

    <tr>
      <td><b>Msn:</b></td>
      <td><%= @person.try(:msn) %></td>
    </tr>

    <tr>
      <td><b>Gtalk / XMPP:</b></td>
      <td><%= @person.try(:xmpp) %></td>
    </tr>
  </table>

<% end -%>

<% if Person.current.admin? or Person.current.id == @person.id %>
  <%= link_to 'Redigera', edit_person_path(@person) %>
<% end %>
<% if Person.current.admin? %>
  | <%= link_to 'Tillbaka', people_path %>
<% end -%>

<% if @person.functionaries.size > 0 %>

  <h3>Förtroendeuppdrag</h3>

  <table>
    <tr>
      <th>Person</th>
      <th>&nbsp;</th>
      <th>Från</th>
      <th>Till</th>
    </tr>
    <% for functionary in @person.functionaries do %>
      <tr>
        <td><%= link_to(functionary.chapter_post.name, functionary.chapter_post) %></td>
        <td>
          <% if functionary.chapter_post.description != "" %>
            <a href="#" onclick="Effect.toggle('descr_<%= functionary.id %>', 'blind', { duration: 0 }); return false;">?</a>
          <% end %>
        </td>
        <td><%= functionary.active_from %></td>
        <td><%= functionary.active_to %></td>
      </tr>
      <% if functionary.chapter_post.description != "" %>
        <tr id="descr_<%= functionary.id %>" style="display: none">
          <td colspan="4"><%=h functionary.chapter_post.description %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
