= link_to "http://www.gravatar.com", :class => "profile gravatar" do
  = image_tag @person.gravatar_url, :alt => "gravatar"

%h2
  = @person.name
  - unless Person.current.anonymous?
    = "(#{@person.kth_username})"

- if Person.current.anonymous?
  %p Begränsad vy då du inte är inloggad.
- else

  %p
    = link_to "NADA hemsida", "http://www.nada.kth.se/~#{@person.kth_username}"
    != "&nbsp;|&nbsp;"
    = link_to @person.email, "mailto:#{@person.email}"
    - if Person.current.admin? or Person.current.id == @person.id
      != "&nbsp;|&nbsp;"
      = link_to 'Inställningar', person_user_settings_path(@person)
      != "&nbsp;|&nbsp;"
      = link_to 'Redigera', edit_person_path(@person)

  - if @person.deleted
    %p.deleted Denna person är markerad som borttagen.

  %table.credentials
    %tr
      %td.strong Startår:
      %td= @person.try :startyear
    %tr
      %td.strong Adress:
      %td= @person.try :address
    %tr
      %td.strong Telefon:
      %td= @person.try :phone
    %tr
      %td.strong Smeknamn:
      %td= @person.try :nickname
    %tr
      %td.strong Personlig epost:
      - mailto = @person.try(:personalemail); unless mailto.nil?
        %td= link_to mailto, "mailto:#{mailto}"
      - else
        %td
    %tr
      %td.strong Personlig hemsida:
      - url = @person.try(:homepage); unless url.nil?
        %td= link_to url, url 
      - else
        %td
    %tr
      %td.strong MSN:
      %td= @person.try :msn
    %tr
      %td.strong Gtalk / XMPP:
      %td= @person.try :xmpp

  - unless @person.plan.blank?
    %h3 Plan
    %pre.plan= @person.plan

  %h3 Zfinger
  = zfinger_image(@person, 256)

- if @person.functionaries.sorted.size > 0
  %h3 Förtroendeuppdrag
  %table
    %tr
      %th Post
      %th Från
      %th Till
    - @person.functionaries.sorted.each do |func|
      %tr
        - if func.chapter_post.name.present?
          %td= link_to func.chapter_post.name, func.chapter_post
          %td= func.active_from
          %td= func.active_to
