- title params[:q]

%h2
  Sökresultat:
  %span= params[:q]

- if @search.total == 0
  %p
    Inga träffar hittades.

- else
  %p
    = @hit_count
    sökträffar

  .search-results
    - @hits_and_results.each do |hit, result|
      = render :partial => "#{result.class.to_s.underscore}_result", :locals => {:hit => hit, :result => result}
    
  = will_paginate(@search.hits)
