<h2>Sök teknolog (beta)</h2>

<% if !Person.current.is_a? AnonymousPerson -%>

  <%= render :partial => "search_box" %>
  <% if @students.nil? %>
    <p>
    Vi i Ior håller fortfarande på och arbeta med Sök teknolog, men här har ni
    en början. Vi behöver Er hjälp med att leta fel, och framförallt hjälpa till
    och se om ni hittar alla ni känner.
    </p>

    <p>
    Du kan lägga till t.ex. <b>sekt:D</b>, <b>user:sbergg</b> och/eller <b>uid:u1nwvk5d</b> för att
    få bättre träffar.
    </p>

    <p>
      Kända buggar:
      <ul>
        <li>Den är lite tjurig med åäö och liknande.</li>
        <li>"sekt:D sbergg" funkar bättre än "sbergg sekt:D".</li>
      </ul>
    </p>
  <% elsif !@students.empty? -%>
    <table>
      <tr>
        <th>Namn</th>
        <th>Användarnamn</th>
        <th>Sektion</th>
      </tr>

      <% for student in @students %>
        <tr>
          <td><%= link_to student.name, '/students/'+student.username_nada %></td>
          <td><%=h student.username %></td>
          <td><%=color_section student.sektion %></td>
        </tr>
      <% end -%>
    </table>
    <% if @students.size == 50 %>
      <p>
      Sök teknolog visar i nuläget max 50 träffar.
      </p>
    <% end %>
  <% elsif params[:q] -%>
    <div class="sok_messagebox">
      Ingen träff
    </div>
  <% end -%>


<% else -%>
  <%= render :partial => "not_logged_in" %>
<% end -%>

