<% if !Person.current.is_a? AnonymousPerson -%>

  <%= render :partial => "search_box" %>

  <h2> <%=h @student.name %>

  <% if @student.sektion != "DRIF" %>
    (<%=h @student.username %>)
  <% end %>

  </h2>

  <div class="xfinger"><%= image_tag xfinger_student_path(@student.username_nada) %></div>

  <p>
    <b>Sektion:</b>
    <%=color_section @student.sektion %>
  </p>

  <% if @student.sektion != "DRIF" %>
    <p>
      <b>E-mail:</b>
      <a href="mailto:<%=@student.email %>"><%=@student.email %></a>
    </p>

    <p>
      <b>Telefon:</b>
      <%=@student.phone_home %><br />
      <%=@student.phone_mobile %>
    </p>

    <p>
      <b>Adress:</b>
      <%= @student.adress %>
    </p>
  <% end %>

  <p>
    <b>Plan:</b>
    <pre>
      <%=@student.plan %>
    </pre>
  </p>

<% else -%>
  <%= render :partial => "not_logged_in" %>
<% end -%>

<%= link_to 'Tillbaka', students_path %>

