<h1>Ändra mörkläggning</h1>

<% ior_form_for(@morklaggning) do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :username, :caption=>"Användarnamn" %>
  <%= f.text_field :drifvarname, :caption=>"Drifvarnamn" %>
  <%= f.submit "Ändra" %>
  </p>
<% end %>

<%= link_to 'Tillbaka', morklaggnings_path %>
