%h2 Intervall för mörkläggning

- simple_form_for @morklaggning do |f|
  Startdatum: 
  = date_select(:interval, :start, :default=>{:year=>@start[0], :month=>@start[1], :day=>@start[2]})
  %br
  Slutdatum:
  = date_select(:interval, :stop, :default=>{:year=>@stop[0], :month=>@stop[1], :day=>@stop[2]})
  %br
  = f.submit "Spara"

%h2 Mörklagda personer

%table
  %tr
    %th Användarnamn
    %th Drifvarnamn
    %th
    %th

  - @morklaggnings.each do |m|
    %tr
      %td= m.username
      %td= m.drifvarname
      %td= link_to 'Ändra', edit_morklaggning_path(m)
      %td= link_to 'Ta bort', m, :confirm => 'Är du säker?', :method => :delete

%h2 Ny mörkläggning

= render 'form'
