<h1>Intervall för mörkläggning</h1>

<% ior_form_for(@morklaggning) do |f| %>
  Startdatum:
  <%= date_select(:interval, :start, :default=>{:year=>@interval_start[0], :month=>@interval_start[1], :day=>@interval_start[2]}) %>
  <br />
  Slutdatum:
  <%= date_select(:interval, :stop, :default=>{:year=>@interval_stop[0], :month=>@interval_stop[1], :day=>@interval_stop[2]}) %>
  <br />
  <%= f.submit "Sätt" %>
<% end %>

<h1>Mörklagda användare</h1>

<table>
  <tr>
    <th>Användarnamn</th>
    <th>Drifvarnamn</th>
  </tr>

  <% for morklaggning in @morklaggnings %>
    <tr>
      <td><%=h morklaggning.username %></td>
      <td><%=h morklaggning.drifvarname %></td>
      <td><%= link_to 'Ändra', edit_morklaggning_path(morklaggning) %></td>
      <td><%= link_to 'Ta bort', morklaggning, :confirm => 'Är du säker?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<h1>Ny mörklagd användare</h1>

<% ior_form_for(@morklaggning) do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :username, :caption=>"Användarnamn" %>
  <%= f.text_field :drifvarname, :caption=>"Drifvarnamn" %>
  <%= f.submit "Lägg till" %>
  </p>
<% end %>
