= simple_form_for(@newsletter) do |f|
  = f.input :subject

  %h3 Publicering
  .datetime.optional.is-draft
    .draft
      = f.radio_button :draft, true
      = f.label :draft_true, "Utkast"
    .published
      = f.radio_button :draft, false
      = f.label :draft_false, "Publicerat"
      = f.datetime_select :published_at

  = f.submit
