%h2 Nyhetsbrev: #{@newsletter.subject}

- @newsletter.newsletter_sections.sorted.each do |section|
  %h3
    = link_to section.title, edit_newsletter_newsletter_section_path(@newsletter, section)
    = link_to '(Ta bort)', newsletter_newsletter_section_path(@newsletter, section), :method => :delete, :confirm => 'Är du säker på att du vill ta bort den här sektionen?', :class => "delete"
  
  %p= section.body

%p.actions
  = link_to t('.add_section'), new_newsletter_newsletter_section_path(@newsletter)
  != "&nbsp;|&nbsp;"
  = link_to "Tillbaka", newsletters_path
