%h2 Nyhetsbrev: #{@newsletter.subject}
%p.meta
  %span.date
    - if @newsletter.published
      Publicerat
      %span.dim den 
      = l @newsletter.published, :format => "%e %b %Y"
    - else
      Utkast
      %span.dim skapat den 
      = l @newsletter.created_at, :format => "%e %b %Y"

.newsletter_sections.toggleable
- @newsletter.newsletter_sections.each do |section|
  %h3
    %span.toggle.off= section.title
    - if Person.current.editor?
      = link_to "(Redigera)", edit_newsletter_newsletter_section_path(@newsletter, section), :class => "edit"
    - if Person.current.admin?
      = link_to '(Ta bort)', newsletter_newsletter_section_path(@newsletter, section), :method => :delete, :confirm => 'Är du säker på att du vill ta bort den här sektionen?', :class => "delete"
  
  .section.toggled{ :id => "newsletter-section-#{section.id}"}
    != RedCloth.new(section.body).to_html

- if Person.current.editor?
  - admin_link "Ny sektion", new_newsletter_newsletter_section_path(@newsletter)
  - if Person.current.admin?
    - admin_link "Redigera nyhetsbrev", edit_newsletter_path(@newsletter)
    - admin_link "Administrera nyhetsbrev", admin_newsletters_path
