- require 'rss/2.0'

- open('app/views/twitter/twitter.rss') do |file|
  - response = file.read
  - result = RSS::Parser.parse(response, false)
  %h2
    = link_to image_tag("twitter_logo.png", :size => "200x52"), 'http://twitter.com'
  
  - result.items.each_with_index do |item, i|
    %p.tweet
      != tweet_to_html(item.title)
      
      %span.tweet-date 
        = get_author(item.author)
        %span.dim den
        = l(item.pubDate, :format => "%A %d %b").humanize
        %span.dim klockan
        = l item.pubDate, :format => "%H:%M"

