.twitter
  %h2 Twitter
  
  - items = Twitter::TwitterItem.get
  - if items.size > 0 
    - items.each do |item|
      .tweet
        %p.text
          != link_to(item.author, "http://twitter.com/#{item.author}", { :class => "author" }) + ": "
          != tweet_to_html(item.text)
        %p.meta
          %span.dim den
          = l(item.pubDate, :format => "%e %B").humanize
          %span.dim klockan
          = l item.pubDate, :format => "%H:%M"
  - else
    %p Data har varit dåliga på att twittra den senaste tiden.
