= simple_form_for(@event) do |f|
  = f.input :name

  %fieldset
    = f.input :all_day
  
  %fieldset
    = f.input :starts_at, :as => :string
    = f.input :ends_at, :as => :string

    :javascript
      $('#event_starts_at').AnyTime_picker({firstDOW: 1});
      $('#event_ends_at').AnyTime_picker({firstDOW: 1});

  = f.input :content
  
  = f.submit
  != "&nbsp;|&nbsp;" + link_to('Tillbaka', calendar_path)

- nav_link "Kalender", calendar_path
