= simple_form_for(@event) do |f|
  = f.input :name

  %fieldset
    = f.input :all_day
  
  %fieldset
    = f.input :starts_at
    = f.input :ends_at

  = f.input :content
  
  = f.submit
  != "&nbsp;|&nbsp;" + link_to('Tillbaka', calendar_path)

- nav_link "Kalender", calendar_path
