<h2>Nyhet/kalenderpryl</h2>

<%= render :partial => 'event', :object => @event %>

<a name="comments" />

<% if @event.comments.count > 0 -%>
  <h3>Kommentarer</h3>
  <% for comment in @event.comments -%>
    <% if comment.text # den loopar en gång för mycket, bör fixas %>
      <div class="comment">
        <p><%= comment.text %></p>
        <p>Av: ???, <%= comment.created_at%></p>
      </div>
    <% end -%>
  <% end -%>
<% end -%>

<h3>Ny kommentar</h3>
<% ior_form_for [@event,  @comment] do |form| -%>
  <%= form.text_area :text, :size => '45x7' %>
  <%= form.submit "Skicka kommentar", :disable_with => "Skickar..." %>
<% end -%>
