%h2 Skicka nyhetsbrev

%table
  %tr
    %th Mall
    %td= @delivery.template_name
  %tr
    %th Lista
    %td= "#{@delivery.list_name} (#{@delivery.subscriber_count} prenumeranter)"

%div#new_test_delivery
  = simple_form_for([@newsletter, @delivery], :url => newsletter_live_delivery_path(@newsletter)) do |form|
    = form.submit 'Skicka nyhetsbrev'
