<h1>Ändra kommentar till "<%= @noise.post.name %>"</h1>

<% form_for(@noise) do |f| %>
  <%= f.error_messages %>

  <%= f.text_area :message, :size => "50x5" %>
  <p>
    <%= f.submit 'Spara' %>
  </p>
<% end %>

<%= link_to 'Avbryt', @noise.post  %>
