%h2 Ändra inställningar för #{@person}

= simple_form_for([@person, @user_settings], :url => person_user_settings_path(Person.current, @user_settings)) do |form|
  - if @user_settings.has_unprocessed_newsletter?
    = form.input :newsletter, :as => :boolean, :label => 'Nyhetsbrev', :input_html => {:disabled => true}, :hint => 'Din nyhetsbrevsprenumeration är på väg att läggas in i systemet, men detta kan ta några minuter!'
  - else
    = form.input :newsletter, :as => :boolean, :label => 'Nyhetsbrev'
  = form.submit