- stylesheet 'calendar'

%h2 
  Kalender

%p
  Här kan du hålla dig uppdaterad om vad som händer på sektionen, du kan även prenumerera på kalendern i
  = link_to 'ics', 'http://en.wikipedia.org/wiki/ICalendar'
  \-format
  = link_to image_tag('calendar.png', :class => 'icon'), calendar_ics_path
  = link_to "här", calendar_ics_path

%ul.horizontal
  %li
    = previous_month_link(@month, @year)
  %li
    = get_month_name(@month)
    = @year
  %li
    = next_month_link(@month, @year)

- html = Ior::Calendar::HtmlRenderer.new(@events, @year, @month)
!= html.render
