<p>
  <%= f.label :name, 'Namn' %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :language, 'Språk' %><br />
  <%= f.select :language, Cv::LANGUAGES %>
</p>
<p>
  <%= f.label :photo, 'Foto' %><br />
  <%= f.file_field :photo %>
</p>
<p>
  <%= f.label :mail, 'Mail' %><br />
  <%= f.text_field :mail %>
</p>
<p>
  <%= f.label :phone, 'Telefonnummer' %><br />
  <%= f.text_field :phone %>
</p>
<p>
  <%= f.label :birth_year, 'Födelseår' %><br />
  <%= f.text_field :birth_year %>
</p>
<p>
  <%= f.label :study_start, 'Studiestart' %><br />
  <%= f.text_field :study_start %>
</p>
<p>
  <%= f.label :planned_exam, 'Planerad examen' %><br />
  <%= f.text_field :planned_exam %>
</p>
<p>
  <%= f.label :orientation, 'Inriktning' %><br />
  <%= f.text_field :orientation %>
</p>
<p>
  <%= f.label :personal, 'Personlig text' %><br />
  <%= f.text_area :personal, :cols => 80 %>
</p>
<p>
  <%= f.label :ambitions, 'Ambitioner' %><br />
  <%= f.text_area :ambitions, :cols => 80 %>
</p>
<p>
  <%= f.label :employment, 'Tidigare anställningar' %><br />
  <%= f.text_area :employment, :cols => 80 %>
</p>
<p>
  <%= f.label :education, 'Utbildning' %><br />
  <%= f.text_area :education, :cols => 80 %>
</p>
<p>
  <%= f.label :other_commitments, 'Andra erfarenheter' %><br />
  <%= f.text_area :other_commitments, :cols => 80 %>
</p>
<p>
  <%= f.label :language_skills, 'Språkkunskaper' %><br />
  <%= f.text_area :language_skills, :cols => 80 %>
</p>
<p>
  <%= f.label :it_skills, 'IT-kunskaper' %><br />
  <%= f.text_area :it_skills, :cols => 80 %>
</p>
<p>
  <%= f.label :other, 'Övrigt' %><br />
  <%= f.text_area :other, :cols => 80 %>
</p>
<p>
  <%= f.label :done, 'Jag är klar nu' %>
  <%= f.check_box :done %>
</p>