<h2>Välkommen till CV-databasen</h2>

<div id="student">
  <h3>Student</h3>
  
  <p>
    Du måste <a href="<%= new_sessions_path(:return_url => current_url) %>">logga in</a> på KTHs centrala inloggningssystem samt vara medlem i Studs-projektet
    för att få tillgång till CV-databasen
  </p>
</div>

<div id="company">
  <h3>Företag</h3>
  <% form_tag(login_cvs_path, :class => 'login') do %>
    <p>
      <%= label_tag :username, 'Användarnamn' %>
      <%= text_field_tag :username, params[:username] %>
    </p>

    <p>
      <%= label_tag :password, 'Lösenord' %>
      <%= password_field_tag :password %>
    </p>

    <%= submit_tag 'Logga in', :disable_with => 'Loggar in...' %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
<% if params[:username] %>
  $('password').focus();
<% else %>
  $('username').focus();
<% end %>
</script>