<div class="cv">
  <div class="content">
    <h2><%= link_to @cv.name, cv_path(@year.year, @cv) %></h2>
    <p class="inriktning"><%= @cv.orientation %></p>
    <p><%= link_to @cv.mail, "mailto:#{@cv.mail}" %></p>
    
    <%= show(@cv, t("studs.cv.phone"), :phone) %>
    <%= show(@cv, t("studs.cv.birth_year"), :birth_year) %>
    <%= show(@cv, t("studs.cv.study_start"), :study_start) %>
    <%= show(@cv, t("studs.cv.planned_exam"), :planned_exam) %>
    <%= show(@cv, t("studs.cv.personal"), :personal) %>
    <%= show(@cv, t("studs.cv.ambitions"), :ambitions) %>
    <%= show(@cv, t("studs.cv.employment"), :employment) %>
    <%= show(@cv, t("studs.cv.education"), :education) %>
    <%= show(@cv, t("studs.cv.other_commitments"), :other_commitments) %>
    <%= show(@cv, t("studs.cv.language_skills"), :language_skills) %>
    <%= show(@cv, t("studs.cv.it_skills"), :it_skills) %>
    <%= show(@cv, t("studs.cv.other"), :other) %>
  </div>

  <% if @cv.photo.exists? %>
    <%= image_tag @cv.photo.url(:normal) %>
  <% end %>

  <div class="separator">&nbsp;</div>
</div>


<p>
  <%= link_to t("studs.cv.back"), cvs_path(:language => @cv.language) %>
  
  <% if can_edit_cv? %>
    <%= link_to 'Ta bort CV', cv_path(@year.year, @cv), :confirm => 'Är du säker?', :method => :delete %>
    <%= link_to 'Redigera CV', edit_cv_path(@year.year, @cv) %>
  <% end %>
</p>
