%h2= @chapter_post.name
%p
  %em= @chapter_post.description
%p
  %b E-post:
  = link_to(@chapter_post.slug + "@d.kth.se", contact_path(:slug => @chapter_post.slug))
%p
  %b Person:
  - if @chapter_post.functionary and @chapter_post.functionary.person
    = link_to @chapter_post.functionary.person.name, person_path(@chapter_post.functionary.person)
  - else
    %em Posten är bordlagd
%h4 Historik
%table.styled-table
  %tr
    %th Person
    %th Från
    %th Till
    - if Person.current.editor?
      %th
  - for functionary in @chapter_post.functionaries
    %tr
      %td= link_to_unless(functionary.postponed, functionary.person_or_postponed, person_path(functionary.person))
      %td= functionary.active_from
      %td= functionary.active_to
      - if Person.current.editor?
        %td= link_to "Redigera", functionary
- if Person.current.editor?
  - side_link 'Till funktionärsposter', chapter_posts_path
  - side_link 'Tillbaka till funktionärer', functionaries_path
  - side_link 'Redigera funktionärsposten', edit_chapter_post_path(@chapter_post)
  - side_link 'Ta bort funktionärsposten', @chapter_post, :confirm => 'Är du säker?', :method => :delete
