<h2><%=h @chapter_post.name %></h2>

<p>
  <em><%=h @chapter_post.description %></em>
</p>

<p>
  <b>E-post:</b>
  <%=h @chapter_post.email %>
</p>

<p>
  <b>Person:</b>
  <% if @chapter_post.functionary and @chapter_post.functionary.person %>
    <%=h @chapter_post.functionary.person.name %>
  <% else %>
    <em>Posten är bordlagd</em>
  <% end %>
</p>

<h3>Historik</h3>

<table>
  <tr>
    <th>Person</th>
    <th>Från</th>
    <th>Till</th>
  </tr>
  <% for functionary in @chapter_post.functionaries do %>
    <tr>
      <td><%= link_to_if(functionary.postponed, functionary.person_or_postponed, functionary.person) %></td>
      <td><%= functionary.active_from %></td>
      <td><%= functionary.active_to %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Tillbaka', chapter_posts_path %> |
<%= link_to 'Redigera', edit_chapter_post_path(@chapter_post) %> |
<%= link_to 'Ta bort', @chapter_post, :confirm => 'Är du säker?', :method => :delete %>
