<% stylesheet "nyheter" %>

<h2>Jobb</h2>

<% form_tag(job_ads_path, :method => :get) do %>
  <%= label_tag "full_time", "Heltid" %>
  <%= check_box_tag "full_time", 1, params[:full_time] %>
  
  <%= label_tag "part_time", "Deltid" %>
  <%= check_box_tag "part_time", 1, params[:part_time] %>
  
  <%= label_tag "thesis", "Exjobb" %>
  <%= check_box_tag "thesis", 1, params[:thesis] %>
  
  <%= submit_tag "Filtrera"%>
<% end -%>

<% for ad in @job_ads %>
  <div>
    <h3><%= ad.title %></h3>
    
    <p style="font-style: italic"><%= ad.company %></p>
    <p><%= ad.description %></p>
    
    <% if Person.current.pr? %>
      <ul class="horizontal author left">
        <li><%= link_to 'Redigera', edit_job_ad_path(ad) %></li>
        <li class="last"><%= link_to 'Ta bort', ad, :method => :delete, :confirm => 'Är du säker på att du vill ta bort den här nyheten?' %></li>
      </ul>
    <% end %>
    
    <ul class="horizontal author right">
      <li><%= link_to ad.created_by, person_path(ad.created_by) %></li>
      <li>Skapad <%= ad.created_at.strftime "%d %b" %></li>
      <li>Förfaller <%= ad.expires_at.strftime "%d %b"%></li>
      <li class="last"><%= ad.types.join(", ") %></li>
    </ul>
    
  </div>
  
  <div class="separator"></div>
<% end -%>

<% if Person.current.pr? %>
  <%= link_to 'Ny Jobbannons', new_job_ad_path %>
<% end -%>
