<p>
  <b>Title:</b>
  <%=h @job_ad.title %>
</p>

<p>
  <b>Company:</b>
  <%=h @job_ad.company %>
</p>

<p>
  <b>Created by:</b>
  <%=h @job_ad.created_by_id %>
</p>

<p>
  <b>Start date:</b>
  <%=h @job_ad.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @job_ad.end_date %>
</p>

<p>
  <b>Part time:</b>
  <%=h @job_ad.part_time %>
</p>

<p>
  <b>Full time:</b>
  <%=h @job_ad.full_time %>
</p>

<p>
  <b>Thesis:</b>
  <%=h @job_ad.thesis %>
</p>

<p>
  <b>Expires at:</b>
  <%=h @job_ad.expires_at %>
</p>


<%= link_to 'Edit', edit_job_ad_path(@job_ad) %> |
<%= link_to 'Back', job_ads_path %>
