= simple_form_for(@post) do |form|
  = form.input :name
  = form.input :content, :cols => 80, :rows => 25 

  %h3 Taggar
  %div.tags
    - @active_tags =  ActsAsTaggableOn::TagList.from(@post.category_list)
    - Post.tag_counts_on(:categories).order("name asc").each do |tag|
      %label.tag{ :for => "tag#{tag.id}" }
        = check_box_tag 'post[categories][]', tag.name, @active_tags.include?(tag.name), :id => "tag#{tag.id}"
        = tag.name

  = form.input 'categories_new', :label => "Lägg till nya taggar", :hint => "Separera flera taggar med kommatecken"

  %h3 Inläggstyp

  = form.input :news_post
  = form.input "sticky"
  
  .calendar_data
    = form.input :calendar_post
    = form.input :starts_at
    = form.input :ends_at
    = form.input :all_day
  
  = form.submit
  != "&nbsp;|&nbsp;" + link_to('Tillbaka', '/')
