= javascript_include_tag 'textile'
= javascript_include_tag 'preview'
:javascript
  $(document).ready(function(){
    $("#preview").hide();
    Preview.watchTextilize('post_name', 'textile_title');
    Preview.watchTextilize('post_content', 'textile_preview');
  });

%p Din nyhet kommer formateras enligt markeringsspråket Textile, en kort sammanfattning finns #{link_to "här", "http://en.wikipedia.org/wiki/Textile_(markup_language)"}. 

#preview.news.post
  %p #{link_to_function "Klicka här för att fortsätta redigera", "Preview.togglePreview('form.post', '#preview')"}.
  %h2#textile_title 
  %div#textile_preview.content.justify

= simple_form_for(@post) do |f|
  %p #{link_to_function "Klicka här för förhandsvisning", "Preview.togglePreview('form.post', '#preview')"}.
  = f.input :name
  - unless @written_by_options.empty?
    = f.association :written_by, :collection => @written_by_options, :include_blank => "-- Författaren --"
  = f.input :content, :cols => 80, :rows => 20

  %h3 Taggar
  %div.tags
    - @active_tags =  ActsAsTaggableOn::TagList.from(@post.category_list)
    - Post.tag_counts_on(:categories).order("name asc").each do |tag|
      %label.tag{ :for => "tag#{tag.id}" }
        = check_box_tag 'post[categories][]', tag.name, @active_tags.include?(tag.name), :id => "tag#{tag.id}"
        = tag.name

  = f.input 'categories_new', :label => "Lägg till nya taggar", :hint => "Separera flera taggar med kommatecken"

  %h3 Publicering
  .datetime.optional.is-draft
    .draft
      = f.radio_button :draft, true
      = f.label :draft_true, "Utkast", :class => (@post.draft ? 'selected' : '')
    .published
      = f.radio_button :draft, false
      = f.label :draft_false, "Publicerad", :class => (@post.draft ? '' : 'selected')
      = f.datetime_select :published_at

  = f.submit
  != "&nbsp;|&nbsp;" + link_to('Tillbaka', '/')
