= simple_form_for(@post) do |form|
  = form.input :name
  = form.input :content, :cols => 80, :rows => 25 

  = form.input :category_list, :label => "Taggar"
  
  %p
    Tillgängliga taggar: 
    - ActsAsTaggableOn::Tag.all.each do |tag|
      %span.tag
        = tag.name

  %p
    Om du vill använda fler än en tag, separera taggarna med kommatecken.

  = form.input :news_post
  
  = form.input :calendar_post
  #calendar_post.selection
    %p Aktivitet startar
    = form.input :starts_at
    = form.input :ends_at
    = form.input :all_day
    
  = form.input "sticky"
  
  = form.submit
  != "&nbsp;|&nbsp;" + link_to('Tillbaka', '/')
