
.news.post[post]
  %h2= link_to post, post
  %div.meta
    - if post.author.is_a? Person
      = link_to image_tag(post.author.gravatar_url, :class => "trigger thumb", :alt => "", :title => post.author), person_path(post.author)
    = link_to post.author, post.author, :class => "author"

    %span.date
      - if post.published_at.present?
        %span.dim den 
        = l post.published_at, :format => "%e %b %Y"
        %span.dim klockan 
        = l post.published_at, :format => "%H:%M"
      - else
        (utkast)
        %span.dim skapad
        = l post.created_at, :format => "%e %b %Y"
        %span.dim klockan 
        = l post.created_at, :format => "%H:%M"
  
    = render :partial => "people/popup", :locals => { :person => post.created_by }
  
  .tags
    - post.categories.each do |category|
      .tag= link_to category.name, root_path(:tags => category.name)
    .clear &nbsp;

  .content.justify
    = textilize( @single_post ? post.body : post.excerpt(true) ).html_safe

  %p.foot
    - if Person.current.editor?
      = link_to 'Redigera', edit_post_path(post), :class => "edit"

    - if @single_post
      %iframe{ :class => "fb-like", :src => "http://www.facebook.com/plugins/like.php?href=#{CGI::escape post_url(post)}&amp;layout=standard&amp;show_faces=false&amp;width=340&amp;height=32&amp;action=like&amp;colorscheme=light&amp;locale=sv_SE", :scrolling => "no", :frameborder => "0", :allowTransparency => "true" }
    - else
      - comment_title = post.has_comments? ? post.comment_count.to_s + " kommentar" : "Kommentera"
      - comment_title << "er" if post.comment_count > 1
      = link_to comment_title, post, :class => "comments"

      %iframe{ :class => "fb-like tiny", :src => "http://www.facebook.com/plugins/like.php?href=#{CGI::escape post_url(post)}&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;height=20&amp;action=like&amp;colorscheme=light&amp;locale=sv_SE", :scrolling => "no", :frameborder => "0", :allowTransparency => "true" }

  - if @single_post && post.written_by.present?
    %div.meta
      = link_to image_tag(post.created_by.gravatar_url, :class => "trigger thumb", :alt => "", :title => post.created_by), person_path(post.created_by)
      %span.dim Publicerad av 
      = link_to post.created_by, person_path(post.created_by), :class => "author created_by"
  
      = render :partial => "people/popup", :locals => { :person => post.created_by }
