.news-item
  %h2= link_to post, post
  .meta
    = link_to image_tag(post.created_by.gravatar_url, :class => "thumb", :alt => "", :title => post.created_by), person_path(post.created_by)
    .author
      %span= link_to post.created_by, person_path(post.created_by)
      %span.dim den 
      
      %span= l post.created_at, :format => "%d %b %Y"
      %span.dim klockan 
      %span= l post.created_at, :format => "%H:%M"
    
    .popup{:style => "display:none"}
      .popup-inner
        = image_tag(post.created_by.gravatar_url)
        %h3= post.created_by
        %p Eventuell post
      .clear &nbsp;
    .clear &nbsp;
    
  .tags
    - post.categories.each do |category|
      .tag= link_to category.name, root_path(:tags => category.name)
    .clear &nbsp;
  
  = textilize(post.content).html_safe
    
  - if Person.current.editor?
    %ul
      %li= link_to 'Redigera', edit_post_path(post)
      %li= link_to 'Ta bort', post, :method => :delete, :confirm => 'Är du säker på att du vill ta bort den här nyheten?'

