- title @post.name

- @single_post = true
= render :partial => 'post', :locals => { :post => @post }

.comments
  - if @post.noises.count > 0
    %h3 Kommentarer
    = render :partial => 'noises/noise', :collection => @post.noises

.respond
  - if Person.current.anonymous?
    %p 
      Du måste vara 
      = link_to "inloggad", new_sessions_path(:return_url => current_url)
      för att kommentera! 
    
  - else
    %h3 Kommentera
  
    = simple_form_for([@post, @noise]) do |form|
      = form.input :message, :label => false
      = form.button :submit

- admin_link "Redigera nyhet", edit_post_path(@post)
- if @post.editable?
  - admin_link "Ta bort", post_path(@post), :method => :delete, :confirm => "Är du säker på att du vill ta bort nyheten?"
- admin_link "Skapa kalenderpost", new_event_path(:post => @post.id)
