%p
  = f.label 'Användarnamn'
  <br />
  = text_field :functionary, :person_id

%p
  = f.label 'Post'
  <br />
  = collection_select(:functionary, :chapter_post_id, ChapterPost.all, :id, :name)

%p
  = f.label 'Stiger på'
  <br />
  = f.date_select :active_from

%p
  = f.label 'Stiger av'
  <br />
  = f.date_select :active_to

%p
  = f.label 'Posten är vakantsatt'
  = f.check_box :postponed
