= simple_form_for(@functionary) do |f|
  = f.input :person_id, :as => :string, :input_html => { :maxlength => 8 }
  = f.association :chapter_post, :include_blank => false
  = f.input :active_from
  = f.input :active_to
  %fieldset
    = f.input :postponed

  = f.submit
