%h2 Sektionsfunktionärer
%p
  Alla sektionsfunktionärer är valda på Datasektionens Sektionsmöten.
  Mandatperioderna är ett år långa och börjar antingen 1 januari eller 1 juli,
  förutom Spexdirecteuren, vars mandatperiod
  <a href="/sektionen/formalia/stadgar/#paragraf7.4.33">löper tills arbetet med uppsättningen i fråga avslutas</a>.
%table.wide
  %tr
    %th Post
    %th Person
    %th E-Post
    %th Aktiv fram till
    - if Person.current.editor?
      %th
  - for functionary in @functionaries
    - if functionary.postponed
      %tr.dim
    - else
      %tr
    %td= link_to functionary.chapter_post.name, functionary.chapter_post
    %td
      - if functionary.postponed
        %em Vakant
      - elsif functionary.person
        = link_to functionary.person.name, functionary.person
    %td= link_to functionary.chapter_post.slug, contact_path(:slug => functionary.chapter_post.slug)
    %td= "<acronym title=\"#{functionary.active_from} till #{functionary.active_to}\">#{functionary.active_to}</acronym>".html_safe
    - if Person.current.editor?
      %td= link_to 'Redigera', edit_functionary_path(functionary)
