<h2>
  <% if not @functionary.postponed %>
      <%=h @functionary.person.try(:name) %>
      (<%=h @functionary.person.try(:kth_username) %>),
  <% else %>
    Bordlagd,
  <% end %>
  <%=h @functionary.chapter_post.name %>
</h2>

<p>
  <b>Period: </b>
  <%=h @functionary.active_from %> till <%=h @functionary.active_to %>
</p>

<%= link_to 'Back', functionaries_path %> |
<%= link_to 'Edit', edit_functionary_path(@functionary) %> |
<%= link_to 'Destroy', functionary_path, :confirm => 'Are you sure?', :method => :delete %>
