%h2
  - if not @functionary.postponed
    = @functionary.person.try(:name)
    = "(#{@functionary.person.try(:kth_username)})"
  - else
    Vakantsatt,
  = @functionary.chapter_post.name

%p
  %b Period:
  = "#{@functionary.active_from} till #{@functionary.active_to}"

= link_to 'Tillbaka till funktionärsposter', functionaries_path
!= "&nbsp;|&nbsp;"
= link_to 'Redigera', edit_functionary_path(@functionary)
!= "&nbsp;|&nbsp;"
= link_to 'Ta bort', functionary_path, :confirm => 'Är du säker på att du vill ta bort funktionärsposten?', :method => :delete
