<h1>Editing list_field_entry</h1>

<% form_for(@list_field_entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @list_field_entry %> |
<%= link_to 'Back', list_field_entries_path %>
