.events
  %h2 Agenda
  %p Här är datasektionens agenda för den närmaste tiden.
  - @events.each do |calendar_post|
    .event
      %p.description= link_to calendar_post, calendar_post
      %p.meta.time
        = l(calendar_post.starts_at, :format => "%A").capitalize + "en"
        %span.dim den
        = l calendar_post.starts_at, :format => "%e %b"
        - if !calendar_post.all_day?
          %span.dim kl.
          = l calendar_post.starts_at, :format => "%H:%M"

  %p== Se alla event i #{link_to "kalendern", calendar_path}.

