- title "Nyheter"

- content_for :additional_content do 
  %h3.sub &nbsp;

  = render :partial => "front_pages/calendar"
  = render :partial => "twitter/twitter"

-#  #news-summary
-#    %h2 Nyheter
-#    %ul.news-list
-#      - @news_posts.each do |post|
-#        %li= link_to(truncate(post.name, :length => 30), post)

#news
  - @notification = include_node("/_ugly_hack_welcome")
  - if !@notification.empty?
    .notification= @notification
  - if !Person.current.anonymous? && !Person.current.has_chosen_settings?
    #first_time_welcome.notification
      = include_node("/first_time_welcome")
      
      = simple_form_for([Person.current, @user_settings], :url => person_user_settings_path(Person.current, @user_settings)) do |f|
        = f.input :newsletter, :as => :boolean, :label => 'Nyhetsbrev'
        = f.submit :value => 'Spara inställningar'

  %h3.sub
    - if params[:tags]
      Nyheter taggade:
      %strong= params[:tags]
    - else
      Alla nyheter

  = render :partial => 'posts/post', :collection => @news_posts
  
  = will_paginate(@news_posts)


