- title "Nyheter"

- content_for :additional_content do 
  %h3.sub &nbsp;

  = render :partial => "front_pages/calendar"
  = render :partial => "twitter/twitter"

#news
  - @notification = include_node("/_ugly_hack_welcome")
  - unless @notification.empty?
    .notification= @notification
  - unless Person.current.anonymous? || Person.current.has_chosen_settings?
    #first_time_welcome.notification
      = include_node("/first_time_welcome")
      
      = simple_form_for([Person.current, @user_settings], :url => person_user_settings_path(Person.current, @user_settings)) do |f|
        = f.input :newsletter, :as => :boolean, :label => 'Nyhetsbrev'
        = f.submit :value => 'Spara inställningar'

  %h3.sub
    - if params[:drafts]
      Utkast
    - elsif params[:tags]
      Nyheter taggade:
      %strong= params[:tags]
    - else
      Alla nyheter

  = render :partial => 'posts/post', :collection => @posts
  
  = will_paginate(@posts)
