<% stylesheet "nyheter" -%>
<% title "Nyheter" %>
<div id="news">
  <h2>
    Nyheter(<%= @tags.nil? ? 'Alla' : @tags.to_sentence(:connector => 'och') %>)
    <%= link_to image_tag('feed.png'), posts_path(:format => :rss, :tags => @tags) %>
  </h2>
  
  <% if !Person.current.anonymous? && !Person.current.has_chosen_settings? %>
    <div id="first_time_welcome">
      <%= include_node("/first_time_welcome") %>
    
      <%= simple_form_for([Person.current, @user_settings]) do |f| %>
        <%= f.input :newsletter, :as => :boolean, :label => 'Nyhetsbrev' %>
        <%= f.submit :value => 'Spara inställningar' %>
      <% end -%>
    </div>
  <% end -%>
  
  <%= include_node("/start") %>
  
  <h4>Kategorier</h4>
  <%= link_tags ActsAsTaggableOn::Tag.all %>
  
  <%= render :partial => 'posts/post', :collection => @news_posts %>
  
  <p>
    <% if @archive -%>
      <%= link_to "Visa endast aktuella nyheter", posts_path(:tags => @tags) %>
    <% else -%>
      <%= link_to "Visa arkiverade nyheter", posts_path(:archive => true, :tags => @tags) %>
    <% end -%>
  </p>
</div>

<div id="calendars">
  <h2>Agenda</h2>
  <p>Datasektionens agenda, vill du veta mer se <%= link_to 'kalendern', calendar_path(:year => Time.now.year, :month => Time.now.month) %>.</p>
  
  <table>
    <% Purjo2::Application.settings['show_n_days_in_calendar'].times do |i| %>
      <% posts_this_day = @calendar_posts.find_all{ |p| p.starts_at >= (@now + i.days).beginning_of_day && p.starts_at <= (@now + i.days).end_of_day} %>
      <% if i == 0 %>
        <% posts_this_day += @calendar_posts.find_all{ |p| p.starts_at < @now.beginning_of_day && p.ends_at >= @now.beginning_of_day } %>
      <% end %>
      <% unless posts_this_day.empty? %>
        <tr>
          <td class="nobr"><%= (@now + i.days).to_s(:agenda) %></td>
          <td>
            <% posts_this_day.each do |post_this_day| %>
              <div>
                <%= link_to post_this_day, post_this_day %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
