- stylesheet "nyheter"
- title "Nyheter"
- content_for :submenu do
  = render :partial => "front_pages/submenu"

- content_for :sidecontent do 
  = render :partial => "front_pages/calendar"

#news
  %h3 Alla nyheter

  - if !Person.current.anonymous? && !Person.current.has_chosen_settings?
    #first_time_welcome
      = include_node("/first_time_welcome")
      
      = simple_form_for([Person.current, @user_settings]) do |f|
        = f.input :newsletter, :as => :boolean, :label => 'Nyhetsbrev'
        = f.submit :value => 'Spara inställningar'
  
  - if false      
    = include_node("/start")
  
  = render :partial => 'posts/post', :collection => @news_posts
  
  = will_paginate(@news_posts)


