- stylesheet "nyheter"
- title "Nyheter"

- content_for :additional_content do 
  %h3.sub &nbsp;
  = render :partial => "front_pages/calendar"
  = render :partial => "twitter/twitter"

#news
  %h3.sub
    - if params[:tags]
      Nyheter taggade:
      %strong= params[:tags]
    - else
      Alla nyheter

  - if !Person.current.anonymous? && !Person.current.has_chosen_settings?
    #first_time_welcome
      = include_node("/first_time_welcome")
      
      = simple_form_for([Person.current, @user_settings], :url => person_user_settings_path(Person.current, @user_settings)) do |f|
        = f.input :newsletter, :as => :boolean, :label => 'Nyhetsbrev'
        = f.submit :value => 'Spara inställningar'
  
  - if false      
    = include_node("/start")
  
  = render :partial => 'posts/post', :collection => @news_posts
  
  = will_paginate(@news_posts)


