<h1>Listing kth_accounts</h1>

<table>
  <tr>
    <th>Ugid</th>
    <th>Person</th>
  </tr>

<% for kth_account in @kth_accounts %>
  <tr>
    <td><%=h kth_account.ugid %></td>
    <td><%=h kth_account.person_id %></td>
    <td><%= link_to 'Show', kth_account %></td>
    <td><%= link_to 'Edit', edit_kth_account_path(kth_account) %></td>
    <td><%= link_to 'Destroy', kth_account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New kth_account', new_kth_account_path %>
