= simple_form_for @node, :url => @parent.present? ? text_node_children_path(@parent) : text_node_path(@node) do |form|
  = form.input :name
  = form.input :title, :hint => 'Om inget anges används Namn-attributet'
  = form.input :custom_layout, :hint => 'Tillgängliga: <i>diy</i> (Ingen grid-kod alls), <i>full</i> (fullbredd) eller ingenting (Contents i mitten, Additional contents till höger)'.html_safe
  = form.input :contents
  = form.input :additional_content, :cols => 80, :rows => 25
  = form.submit
  
