- cache 'ths-bar' do
  #ths-bar
    #ths-wrap
      = link_to 'THS', 'http://www.ths.kth.se/',
        :title => 'Tekniska Högskolans Studentkår',
        :id => 'ths-title'
      %ul.links
        - items = YAML::load(File.open(File.join(Rails.root, 'config', 'ths_topbar.yml')))
        - items.each do |item|
          - if !item[:subitems]
            %li.top= link_to item[:text], item[:href]
          - else
            %li.top.menu
              = link_to item[:text], '#', :onclick => 'return false;', :class => 'drop'
              %ul.submenu
                - item[:subitems].each do |subitem|
                  %li= link_to subitem[:text], subitem[:href]

      = link_to 'http://www.ths.kth.se/?page_id=254', :title => 'THS information in English', :id => 'ths-english' do
        THS
