!!!

%html
  %head
    %title= render_title
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Crimson+Text"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "application.js", "rails.js"
    = stylesheet_link_tag "screen"
    
    = csrf_meta_tag
    
    != '<meta property="og:title" content="En asfet nyhet"/>'
    != '<meta property="og:type" content="article"/>'
    != '<meta property="og:url" content="http://www.d.kth.se/foo"/>'
    != '<meta property="og:image" content="http://ia.media-imdb.com/rock.jpg"/>'
  %body
    #fb-root
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId  : '131161626900092',
          status : true, // check login status
          cookie : true, // enable cookies to allow the server to access the session
          xfbml  : true  // parse XFBML
        });
      };

      (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/sv_SE/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    #wrapper
      #main
        .top
          .container_16
            .grid_9.prefix_3
              %span 
                - if Person.current.anonymous?
                  Du är inte 
                  %b inloggad. 
                - else 
                  Du är inloggad som
                  %b= Person.current
            .grid_3
              - if Person.current.anonymous?
                = link_to 'Logga in', new_sessions_path(:return_url => current_url)
              - else
                = link_to 'Logga ut', sessions_path(:return_url => current_url), :method => :delete
          .clear &nbsp

        .main
          .container_16
            .grid_3
              .prefix &nbsp;
              = link_to image_tag("shield.png"), root_path, :class => "shield"
            .grid_9
              %h1 Konglig Datasektionen
              %ul
                %li
                  %b= link_to "Nyheter", "/"
                %li= link_to "Sektionen", "/sektionen"
                %li= link_to "Näringsliv", "/naringsliv"
                %li= link_to "Studier", "/studier"
                %li= link_to "Kontakt", "/kontakt"
            
            .grid_3
              %input{:type => "search", :placeholder => "Sök"}
            
            .clear &nbsp;
        
        .content.container_16
          .sub.grid_3
            .clear
            - if Person.current.editor?
              .admin= render :partial => "front_pages/admin_box"
            - if @menu_template
              = render :partial => "menus/#{@menu_template}"

          - if content_for?(:main_content)
            = yield(:main_content)
          - else
            = yield
            
