<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv" lang="sv">
<head>
  <title>
    Konglig Datasektionen - Studs 2010
  </title>

  <%= stylesheet_link_tag 'studs2010' %>

  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
  <script src="/javascripts/scriptaculous.js" type="text/javascript"></script>
</head>
<body>

<div id="container">
  <div id="logotype" class="column1">
    <%= image_tag 'studs/studslogga2010-flygande.png' %>
  </div>

  <div id="navigation">
    <div class="column1">
      <ul>
        <li><a href="/sektionen/studs/2010">start</a></li>
        <li><a href="/sektionen/studs/2010/cvs">cv-databasen</a></li>
        <li><a href="/blogs/studs2010/articles">bloggen</a></li>
        <li><a href="/sektionen/studs/2010/internt">internt</a></li>
        <%#<li><a href="http://www.flickr.com/photos/kalasjocke/sets/72157619554559610/">bilder</span></a></li>%>
      </ul>
    </div>
  </div>
  
  <div id="information">
    <div class="column1">
      &nbsp;
    </div>
  </div>
  
  <div id="banners">
    <%#= image_tag "studs/digpro.png" %>
  </div>
  <div id="content" class="column1">
    <% if flash[:error] %>
      <div id="flash_error">
        <%= flash[:error]%>
      </div>
    <% end %>
    
    <% if flash[:notice] %>
      <div id="flash_notice">
        <%= flash[:notice]%>
      </div>
    <% end %>
    
    <%= yield %>
  </div>
  
  <% if Person.current.editor? %>
  <div id="admin_links">
    <%= admin_link('Ny nyhet-/kalender-post', :url => new_post_path, :icon => 'date_add.png') %>
    
    <% if !@node.nil? && !@node.new_record? %>
      <%= admin_link('Ny undersida', :url => new_text_node_child_path(@node), :icon => 'page_add.png') %>
      <%= admin_link('Ny fil', :url => new_text_node_file_path(@node), :icon => "page_attach.png") %>
      <%= admin_link('Redigera sida', :url => edit_text_node_path(@node), :icon => "page_edit.png") %>
      <% if @node.children.empty? -%>
        <%= admin_link('Ta bort sida', :icon => "page_delete.png", :url => text_node_path(@node), :method => :delete, :confirm => "Detta kommer ta bort noden #{@node.url}(#{@node.name}). Är du säker på att detta verkligen är det du vill?") %>
      <% end -%>
      
      <%= admin_link("Lista subnoder", :url => text_node_children_path(@node), :icon => 'page_go.png') %>
      <%= admin_link("Lista filer", :url => text_node_files_path(@node), :icon => 'attach.png') %>
      <%= admin_link("Historia", :url => text_node_versions_path(@node), :icon => 'page_gear.png') %>
      
    <% end %>
    <%= admin_link("Alla noder", :url => text_node_children_path(Node.find_by_url("/")), :icon => 'nodes.png' ) %>
  </div>
  <a href="#" onclick="Element.toggle('admin_links'); this.innerHTML = ($('admin_links').style.display == 'none')?'&laquo;':'&raquo;'">&raquo;</a>
  
  <% end -%>
  
</div>

<%= render :partial => 'shared/analytics' %>
</body>
</html>

