%h2 Redigerar ett valtillfälle
- form_for(@election_event) do |f|
  %p
    = f.label :name
    <br />
    = f.text_field :name
  %p
    = f.label :date
    <br />
    = f.date_select :date
  %p
    = f.submit "Update"

= link_to 'Back', election_events_path
|
= link_to 'Show', @election_event
|
= link_to 'Destroy', @election_event, :confirm => 'Are you sure?', :method => :delete
