%h2 Redigerar ett valtillf채lle
- form_for(@election_event) do |f|
  %p
    = f.label :name
    <br />
    = f.text_field :name
  %p
    = f.label :date
    <br />
    = f.date_select :date
  %p
    = f.submit "Update"

- side_link 'Tillbaka till valtillf채llen', election_events_path
- side_link 'Visa valtillf채lle', @election_event
- side_link 'Ta bort valtilf채lle', @election_event, :confirm => 'Are you sure?', :method => :deletes
