%h2 New election_event
- form_for(@election_event) do |f|
  %p
    = f.label :name
    <br />
    = f.text_field :name
  %p
    = f.label :date
    <br />
    = f.date_select :date
  %p
    = f.submit "Create"

= link_to 'Back', election_events_path
